<div class="row">
	<div class="col-md-4 col-md-offset-4 text-center age-area">
		<h2 class="">Calculate Your Age!</h2>
		<p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="datePick.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" ng-change="calculateAge()" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <div ng-show="displayBirthday">
        	<h4>You are {{age}} old!</h4>
        	<div class="panel panel-default">
	        	<div class="panel-heading">Fun Fact!</div>
		        <div class="panel-body">{{funFact}}</div>
		    </div>
        </div>
	</div>
</div>